<link rel="stylesheet" href="{{ 'cs-homepage-collections.css' | asset_url }}">

<section class="hot__products__section">
  <div class="hot__products__div">
    <h4>{{ section.settings.subheading }}</h4>
    <h2 class="section-heading">
        <span>{{ section.settings.heading }}</span>
    </h2>
    <button class="">{{ section.settings.button_text }}</button>
    <div class="hot__products">
      {% for block in section.blocks %}
        {% assign collection = block.settings.collection %}
        {% assign custom_image = block.settings.custom_image %}
        {% if collection %}
          <div class="hot__product">
            <a href="{{ collection.url }}" class="hot__product__link">
              <div class="hot__product__image">
                {% if custom_image %}
                  <img src="{{ custom_image | img_url: '360x' }}" alt="{{ collection.title }}" />
                {% elsif collection.image %}
                  <img src="{{ collection.image.src | img_url: '360x' }}" alt="{{ collection.title }}" />
                {% elsif collection.products.first %}
                  <img src="{{ collection.products.first.featured_image | img_url: '360x' }}" alt="{{ collection.products.first.title }}" />
                {% else %}
                  <img src="https://showtime-home.myshopify.com/cdn/shop/files/maarten-deckers-0-frPETzEVs-unsplash_360x.jpg?v=1653910232" alt="Default Image" />
                {% endif %}
              </div>
              <h4>{{ collection.title }}</h4>
            </a>
          </div>
        {% else %}
          <div class="hot__product">
            <div class="hot__product__image">
              <img src="https://showtime-home.myshopify.com/cdn/shop/files/maarten-deckers-0-frPETzEVs-unsplash_360x.jpg?v=1653910232" alt="Default Image" />
            </div>
            <h4>Decor</h4>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>



{% schema %}
{
  "name": "Cs Hot Products Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Main Heading",
      "default": "See What's Hot"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub Heading",
      "default": "Most popular product lines"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "View All"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "limit": 8,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Image (Optional)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cs Hot Products Section",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}