<link rel="stylesheet" href="{{ 'cs-popup-gallery.css' | asset_url }}">
<section class="mb-5">
    <div class="popup-gallery">
        <div class="custom-container">
            <div class="section-title">
                <h2 class="section-heading">
                    <span>Photo Gallery</span>
                </h2>
            </div>
            <div class="products-wrap">
                {%- for block in section.blocks -%}
                    {%- assign product = block.settings.product -%}
                    {%- assign second_image = product.images[1] | img_url: '512x512' -%}
                    {%- assign featured_image = product.featured_image | img_url: '1024x1024' -%}
                    {%- assign title = product.title -%}
                    {%- assign money = product.price | money -%}
                    {%- assign url = product.url -%}
                    <div class="product-image" 
                         onclick="openPopup('{{ featured_image }}', '{{second_image}}', '{{title}}', '{{ money }}', '{{url}}' ,this.getAttribute('data-variants'))"
                         data-variants='{{ product.variants | json | escape }}'>
                        <img src="{{ product.featured_image | img_url: '256x256' }}" alt="{{ product.title }}">
                    </div>
                {%- endfor -%}
            </div>
        </div>
    </div>

    <div id="image-popup" class="popup-overlay" style="display: none;">
        <div class="popup-content">
            <span class="close-button" onclick="closePopup()">×</span>
            <div class="popup-left">
                <img id="popup-main-image" src="" alt="Product Image">
            </div>
            <div class="popup-right">
                <img id="popup-small-image" src="" alt="Small Image" >
                <h2 id="popup-title"></h2>
                <p id="popup-price"></p>

                <!-- Variants Dropdown -->
                {% comment %} <label for="variant-select">Select Variant:</label> {% endcomment %}
                <select id="variant-select" onchange="updateVariantDetails(this)" name="variant"></select>

                <!-- Add to Cart Button -->
                <button id="add-to-cart-btn" class="global-btn" onclick="addToCart()">Add to Cart</button>

                <a href="" id="popup-url" class="product-url-btn">Product Details</a>
            </div>
        </div>
    </div>
</section>

<script src="{{ 'cs-popup-gallery.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "Cs Popup Gallery",
    "settings": [],
    "blocks": [
      {
        "name": "product",
        "type": "Product",
        "limit": 12,
        "settings": [
            {
              "type": "product",
              "id": "product",
              "label": "Select Product"
            }
        ]
      }
    ],
    "presets": [
      {
        "name": "Cs Popup Gallery",
        "settings": {
          
        }
      }
    ],
  }
{% endschema %}