<link rel="stylesheet" href="{{ 'cs-video-section.css' | asset_url }}" >

<section class="video__section__div mt-5" style="background-image: url({{ section.settings.background_image | img_url: 'master' }});">
  <div class="video__section" data-video-url="{{ section.settings.video_url }}">
    <h4>{{ section.settings.video_section_title | default: "This week's video" }}</h4>
    <div class="video__div" id="videoThumbnail" style="background-size: cover;">
      <div class="video__play__btn">
        <svg fill="rgba(0, 0, 0, 0.3)" style="margin-left: 6px;" height="20px" width="20px" version="1.1" id="Layer_1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"
          enable-background="new 0 0 512 512" xml:space="preserve">
          <polygon points="0,0 0,512 512,256 " />
        </svg>
      </div>
    </div>
    <div class="video__heading">
      <span>{{ section.settings.video_title | default: "New Video" }}</span> <br>
      <span>{{ section.settings.video_subtitle | default: "Recipes Daily" }}</span>
    </div>
    <div class="video__description">
      <p>{{ section.settings.video_description | default: "Why read a recipe when you can see it made right in front of
        you?" }}</p>
    </div>
    <button class="video__btn">
      See More
    </button>
  </div>
  <div class="video__section__overlay">
    <div>
      {% assign video_url = section.settings.video_url | default: 'https://www.youtube.com/watch?v=_9VUPq3SxOc' %}

      {% if video_url contains "youtube.com/watch?v=" %}
        {% assign video_id = video_url | split: 'watch?v=' | last | split: '&' | first %}
      {% elsif video_url contains "youtu.be/" %}
        {% assign video_id = video_url | split: 'youtu.be/' | last | split: '&' | first %}
      {% elsif video_url contains "youtube.com/embed/" %}
        {% assign video_id = video_url | split: 'embed/' | last | split: '&' | first %}
      {% else %}
        {% assign video_id = '_9VUPq3SxOc' %}
      {% endif %}

      <iframe
        id="videoIframe"
        width="100%" 
        height="100%" 
        src="https://www.youtube.com/embed/{{ video_id }}"
        title="YouTube video player"
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>






<script src="{{ 'cs-video-section.js' | asset_url }}" defer="defer"></script>
{% schema %}

    {
  "name": "Cs-Video-Section",
  "settings": [
    {
      "type": "url",
      "id": "video_url",
      "label": "Video URL"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "video_section_title",
      "label": "Video Section Title"
    },
    {
      "type": "text",
      "id": "video_title",
      "label": "Video Title"
    },
    {
      "type": "text",
      "id": "video_subtitle",
      "label": "Video Subtitle"
    },
    {
      "type": "text",
      "id": "video_description",
      "label": "Video Description"
    }
  ],
  "presets": [
    {
      "name": "Cs-Video-Section"
    }
  ]
}
{% endschema %}